/* app/page.module.css */
.mainContent {
    padding: 2rem;
  }
  
  .heroSection {
    background:  url('/assets/hero-background.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
  }
  
  .heroText h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .heroText p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .button {
    display: inline-block;
    background-color: #0070f3;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .featuresSection {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .featureCard {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .featureCard img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .featureCard h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: black;
    text-decoration: double;
  }
  
  .featureCard p {
    font-size: 1rem;
  }
  
  .headtext{
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none; /* Prevent underline on hover */
  
  }